<footer>
	<nav class="round">
		<ul>
			<li><a href="http://www.railstutorial.org">OfficialSite.com</a><li>
			<li><a href="http://www.railstutorial.org">Partner Website</a></li>
		</ul>
	</nav>
</footer>
